.groupDiv {
  border-radius: 5px;
  width: 300px;
  border: 1px solid black;
  padding: 2px;
  margin-bottom: 5px;
}



.allItemsActionSheet{
  display: flex;
  align-items: center;

}

.cancelButton{
  span{
    color: red;
  }
}
